<section>
  <div class="wrapper wrapper-content">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          breadcrumb
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      	<div class="row">
      		<div class="col-xs-12 col-sm-3">
      			<img ng-src="{{selectedImage}}" class="img-responsive">
            <img ng-src={{product.Image}} class="img-thumbnail" width="50px" ng-click="chooseImage(product.Image)">
            <img ng-src={{product.SecondaryImage}} class="img-thumbnail" width="50px" ng-click="chooseImage(product.SecondaryImage)">
      		</div>
      		<div class="col-xs-12 col-sm-9">
      			<p>
              <span class="text-large text-capitalize" ng-bind="product.Title"></span>
              <span ng-if="product.Status === 'instock'">
                <span class="label label-primary">In Stock</span>
              </span>
              <span ng-if="product.Status === 'outofstock'">
                <span class="label label-danger">Out of Stock</span>
              </span>
            </p>
		        <p><strong>by</strong> <span class="text-capitalize" ng-bind="product.Author"></span> | <strong>Category</strong>&nbsp;<span ng-bind="product.Category"></span> | <strong>ISBN</strong> <span ng-bind="product.ISBN"></span></p>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-large" ng-bind="product.Price | currency"></span>
                
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12"><span class="text-medium text-uppercase" ng-show="product.Stock > 0">Qty</span>
                <select ng-show="product.Stock > 0" ng-disabled="product.Stock == 0">
                  <option ng-repeat="i in getMaxQty(product.Stock) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                </select>
                <button ng-click="addToCart(product._id)" class="btn btn-primary btn-sm" ng-class="{'disabled' : product.Stock == 0}">
                  <i class="fa fa-cart-plus"></i>
                  Add to Cart
                </button>
              </div>
            </div>
            <br>
		        <h3>Book Description</h3>
		        <p>
              <span ng-bind="product.Description"></span><span ng-hide="isReadMore || isShortDesc">...</span>
              <br>
              <span class="label label-primary" ng-hide="isReadMore || isShortDesc" ng-click="readMore(true)"> read more </span>
              <span class="label label-danger" ng-show="isReadMore" ng-click="readMore(false)"> read less </span>
            </p>
      		</div>
      	</div>
      	<div class="row">
      		<h1>TODO: Display Review Product</h1>
      	</div>      
      </div>
      <div class="col-md-5">        
        <br>
        
        <br>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-6">
          	
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
