<section>
  <div class="wrapper wrapper-content">
    <div class="ibox">
      <div class="ibox-content">
        <h1>Edit</h1>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <form name="productForm" novalidate autocomplete="on">
              <fieldset>
                <div class="row">
                  <div class="col-xs-8">
                    <div class="form-group" show-errors>
                      <label for="title">Book Title</label>
                      <input type="text" id="title" name="title" class="form-control" ng-model="product.Title" placeholder="Book Title" required>
                      <div ng-messages="productForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Title is required.</p>
                      </div>
                    </div>

                    <div class="form-group" show-errors>
                      <label for="author">Author</label>
                      <input type="text" id="author" name="author" class="form-control" ng-model="product.Author" placeholder="Author" required>
                      <div ng-messages="productForm.author.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Author is required.</p>
                      </div>
                    </div>
                    
                    <div class="form-group" show-errors>
                      <label for="description">Description</label>
                      <textarea rows="3" cols="5" id="description" name="description" class="form-control" ng-model="product.Description" placeholder="Book Description" required></textarea>

                      <div ng-messages="productForm.description.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Description is required.</p>
                      </div>
                    </div>

                    <div class="form-group" show-errors>
                      <label for="category">Category</label>
                      <select name="category" class="form-control" ng-model="product.Category" required><option value="General">General</option><option value="Novel">Novel</option><option value="Kids">Kids</option></select>
                      <div ng-messages="productForm.category.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Category is required.</p>
                      </div>
                    </div>  

                    <div class="form-group" show-errors>
                      <label for="price">Price</label>
                      <input type="text" id="price" name="price" class="form-control" ng-model="product.Price" placeholder="Price"required ng-pattern="/^\d*\.?\d*$/">
                      <div ng-messages="productForm.price.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Price is required.</p>
                        <p class="help-block error-text" ng-message="pattern">Invalid number.</p>
                      </div>
                    </div>

                    <div class="form-group" show-errors>
                      <label for="stock">Stock</label>
                      <input type="text" id="stock" name="stock" class="form-control" ng-model="product.Stock" placeholder="Stock" lowercase required ng-pattern="/^\d+$/">
                      <div ng-messages="productForm.stock.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Stock is required.</p>
                        <p class="help-block error-text" ng-message="pattern">Invalid number.</p>
                      </div>
                    </div>

                    <div class="form-group" show-errors>
                      <label for="status">Status</label>
                      <select name="status" class="form-control" ng-model="product.Status" required><option value="instock">In Stock</option><option value="outofstock">Out of Stock</option></select>
                      <div ng-messages="productForm.status.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Status is required.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-4">
                    <div class="form-group" show-errors>
                      <div class="form-group text-center">
                        <img ng-src="{{imageURL}}" alt="book cover" class="img-thumbnail">
                      </div>
                      <div class="text-center form-group" ng-hide="uploader.queue.length">
                        <span class="btn btn-default btn-file">
                            Select Image <input type="file" nv-file-select uploader="uploader">
                        </span>
                      </div>
                      <div class="text-center form-group" ng-show="uploader.queue.length">
                        <button class="btn btn-primary" ng-click="uploadBookCover();">Upload</button>
                        <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
                      </div>
                      <div ng-show="success" class="text-center text-success">
                        <strong>Book Cover Uploaded Successfully</strong>
                      </div>
                      <div ng-show="error" class="text-center text-danger">
                        <strong ng-bind="error"></strong>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary" ng-click="update(productForm.$valid)">Update</button>
                      <a ui-sref="admin.products-view({productId: product._id})" class="btn btn-primary">Cancel</a>
                    </div>
                    
                    <div ng-show="error" class="text-danger">
                      <strong ng-bind="error"></strong>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>