<section>
  <div class="wrapper wrapper-content">
    <div class="page-header">
      <div class="row">
        <div class="col-md-4">
          <h1>Products</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="margin-top: 2em">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>
        <div class="col-md-6 text-right" style="margin-top: 2em">
          <a ui-sref="admin.products-create()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New Product</a>
        </div>
      </div>
    </div>
    <div ng-hide="pagedItems.length !== 0"><p>No products available</p></div>      
    <div class="text-center">
      <uib-pagination ng-show="pagedItems.length !== 0" total-items="filterLength" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
    <div class="row">
      <div class="text-right col-xs-12">
        <span><strong>Sorting by:</strong></span>
        <select ng-change="fieldSortingChanged()" ng-model="fieldOption" ng-init="fieldOption">
          <option value="Title">Title</option>
          <option value="Author">Author</option>
          <option value="Category">Category</option>
          <option value="Price">Price</option>
          <option value="CreatedDate">Date</option>
        </select>
        <select ng-change="orderSortingChanged()" ng-model="orderOption" ng-init="orderOption">
          <option value="false">Ascending</option>
          <option value="true" selected="selected">Descending</option>
        </select>
      </div>
    </div>
    <div class="list-group">
      <div ng-repeat="product in pagedItems" ui-sref="admin.products-view({productId: product._id})" class="list-group-item">
        <div class="row">
          <div class="col-xs-12 col-sm-2">            
            <img ng-src="{{product.Image}}" class="img-responsive" width="90px">
          </div>
          <div class="col-xs-12 col-sm-10">  
            <p>
              <span class="text-medium text-capitalize" ng-bind="product.Title"></span>
              <span ng-if="product.Status === 'instock'">
                <span class="label label-primary">In Stock</span>
              </span>
              <span ng-if="product.Status === 'outofstock'">
                <span class="label label-danger">Out of Stock</span>
              </span>
            </p>
            <p class="list-group-item-text">
              <strong>by</strong> <span class="text-capitalize" ng-bind="product.Author"></span> | <strong>Category</strong> <span ng-bind="product.Category"></span>
            </p>
            <p class="list-group-item-text small">
              <strong>Price</strong> <span ng-bind="product.Price | currency"></span>
            </p>
            <p class="list-group-item-text small" ng-show="product.Stock > 0">
              <strong>Stock</strong> <span ng-bind="product.Stock"></span> <span>pcs</span>
            </p>
            <!--<h4 class="list-group-item-heading">Book Description</h4>       
            <p class="list-group-item-text small">
              <span ng-show="product.Description.length > 250 && (!isReadMore || isShortDesc)">
                <span ng-bind="product.Description.substr(0,250)"></span>...
              </span>
              <span ng-show="product.Description.length < 250 || isReadMore">
                <span ng-bind="product.Description"></span>
              </span>
              <br>
                <span ng-hide="true">{{ isShortDesc = product.Description.length > 250 ? false : true }}</span>
              <span ng-hide="isReadMore || isShortDesc" class="label label-primary" ng-click="readMore(true, $event)">read more</span>
              <span ng-show="isReadMore && !isShortDesc" class="label label-danger" ng-click="readMore(false, $event)">read less</span>
            </p>-->
          </div>
        </div>      
      </div>
    </div>
    <div class="text-center">
      <uib-pagination ng-show="pagedItems.length !== 0" total-items="filterLength" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
  </div>
</section>